DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=restaurante_admin
DB_PASSWORD=changeme
DB_NAME=restaurante_db

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=restaurante
KEYCLOAK_CLIENT_ID=restaurante-api